  <style>
      body {
        background-color: #ffffff;
        color: white;
        padding-top: 70px; /* menambahkan padding agar konten tidak tertutup navbar */
      }
      .navbar,
      .footer {
        background-color: #4a08e5;
      }
      .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000; /* memastikan navbar di atas elemen lain */
      }
      .whatsapp-logo {
        width: 50px;
      }
      .section {
        padding: 60px 0;
      }
      .section h1,
      .section p,
      .section ul,
      .section h2 {
        color: rgb(12, 12, 12);
      }
      .section img {
        width: 60%;
        height: 50%;

      }
    </style>